@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--aw_secondary_color);
  background-color: var(--aw_primary_color);
  font-family: var(--aw_primary_font);
  overflow-x: hidden;
}
/* global */
:root {
  --aw_primary_color: #fff;
  --aw_secondary_color: #000;
  --aw_theme_color: #f5c000;
  --aw_primary_font: 'Cinzel', serif;
  --aw_secondary_font: 'Lora', serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 11px;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

section {
  padding: 30px 0;
}
@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
/* overlay */
.aw_gradient-overlay {
  background: linear-gradient(90deg, #fff 0%, var(--aw_theme_color) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
}
.aw_black-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
}
/* animations */
@keyframes fade_up_down {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translateY(11px) rotate(3deg) scale(1.1);
  }
}

/* shadow */
.black-shadow {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.11);
}

/* form */
.input-with-shadow {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.11);
  border: 0;
  outline: 0;
  border-radius: 7px;
  padding: 16px;
}
.form-label {
  font-size: 20px;
  font-weight: 700;
}
.input-checkbox {
  border: 1px solid black;
  outline: 0;
  border-radius: 0;
  padding: 5px;
}

input:focus,
textarea:focus,
.order-select:focus {
  outline: none;
  border: 0 !important;
  box-shadow: 0 0 11px rgba(52, 119, 255, 0.22) !important;
}

.divider {
  background-color: #1e1e1e;
  height: 1px;
  width: 100%;
}
